extends layout

block content
  h1 Аутентификация
  p Страница аутентификации

  div(style="border: 1px solid green;")
    script(src="https://vk.com/js/api/openapi.js?168")
    script VK.init({apiId: 7741903})

    // VK Widget
    #vk_auth
    script VK.Widgets.Auth("vk_auth", { onAuth: function (params) {console.log(params);} });

  if user
    form(action="", method="post")
      p Пользователь: #{user.name}
      input(type="hidden", name="logout" value="1")
      button(type="submit") Выйти

  else
    form(action="", method="post")
      p
        label
          span Логин
          input(type="text", name="username")
      p
        label
          span Пароль
          input(type="password", name="password")
      p
        label
          input(type="checkbox", name="reg", value="reg")
          span Регистрация

      button(type="submit") Войти
