extends common/layout

block content
  h1 Аутентификация
  p Страница аутентификации

  if user
    form(action="/auth/logout", method="get")
      p Пользователь: #{user.name}
      button(type="submit") Выйти
  else
    ul
      li
        a(href=vkURI).
          Через ВКонтакте
      li
        a() Через Яндекс
      li
        a() Через Mail.ru
      li
        a() Через Google

    form(action="", method="post")
      p
        label
          span логин
          input(type="text", name="login" required)
      p
        label
          span Пароль
          input(type="password", name="password" required)
      p
        label
          input(type="checkbox", name="reg", value="reg")
          span Регистрация

      button(type="submit") Войти
